## Object files
#
*.o


## Ada Library Information
#
*.ali
*-loc.xml
gnatinspect.db-*

*.stderr
*.stdout

*.c~
*.d
*.db
*.a
*.deps
*.cgpr
*.bexch
*.lexch
b__*.ad[sb]

.clang-format
.clangd

*-orig
*.log

.idea

tensorflow-old


## Binaries
#
say_hello
cbound-prior
gmp-prior
opencv
portable_new_line_Token.tmp
